body.arabic-mode .split-title-cell .title-line-bottom {
  display: none !important;
}

body.arabic-mode .split-title-cell {
  gap: 2mm !important;
}

body.arabic-mode .exam-header.three-cell-header {
  direction: ltr !important;
}

body.arabic-mode .exam-header .header-cell {
  direction: rtl !important;
}
